# OSX
#
.DS_Store

# Android/IntelliJ
#
frontend/android/app/build/
frontend/android/.gradle
frontend/android/local.properties
.idea
*.iml

# node.js
#
frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log
frontend/package-lock.json

# BUCK
frontend/buck-out/
frontend/\.buckd/
frontend/*.keystore

# Bundle artifact
*.jsbundle

# Python
backend/backend/__pycache__/
backend/cinect_api/__pycache__/
backend/cinect_api/migrations/__pycache__/
node_modules
